<div class="auth-container">
  <form [formGroup]="authForm" class="auth-container__form" (ngSubmit)="authUser()">
    <h1>Sign in</h1>
    <input class="auth-container__form_input" type="text" formControlName="email"
           placeholder="Login" [ngClass]="{'error-field': (authForm.errors?.['email'])}">
    <input class="auth-container__form_input" type="password" formControlName="password"
           placeholder="Password" [ngClass]="{'error-field': (authForm.errors?.['password'])}">
    <button type="submit" [disabled]="!isAuthEnabled">Submit</button>
  </form>
</div>
